<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="http://fonts.useso.com/css?family=Merriweather+Sans:300" rel="stylesheet" type="text/css">
    <title>Uva</title>
</head>
<body>
    <div id="header">
        <h1>UvaCode</h1>
    </div>
    <div id="left">
        <h1 id="put">UvaRoom</h1>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="go">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="QucikAcces" id="number_id">
        </div>
    </div>
    <div id="des">
        <div id="">

        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="./javascripts/base.js"></script>
</body>
</html>